header {
    display: flex;
    min-height: 70px;
    width: 100%;
    background-image: linear-gradient(45deg, #4481eb, #04befe);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    border-radius: 0 0 1rem 1rem;
    gap: 10px;
}

header a {
    text-decoration: none;
    color: inherit;
}

.header__perfil {
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 2rem;
    gap: 5px;
}

.header__perfil:hover {
    background-color: #fff;
    color: #4481eb;
}

footer {
    display: flex;
    min-height: 70px;
    width: 100%;
    background-image: linear-gradient(45deg, #4481eb, #04befe);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    border-radius: 1rem 1rem 0 0;
    bottom: 0;
    text-align: center;
    gap: 10px;
}

footer a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    border: 2px solid #fff;
    padding: 7%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

footer a:hover {
    background-color: #fff;
    color: #4481eb;
}

@media (max-width: 700px) {
    header, footer {
        flex-direction: column;
    }
}