*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.header{
    height: 100vh;
    background-image: linear-gradient(to right, rgba(255, 236, 210, 0.507) 0%, rgba(252, 182, 159, 0.507) 100%), url(../img/colegio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;

}


.escudo{
    top: 0;
    border-radius: 50%;
    height: 120px;
    position: fixed;
}

.hamburguer{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #FFF;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    
}

header nav span{
    margin-right: 10px;
    text-decoration: none;
}

header nav a{
    height: 50px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px;
}

.options__menu{
    padding: 20px;
    position: absolute;
    top: 80px;
}

.options__menu a{
    display: block;
    position: relative;
}

.options__menu .option{
    display: flex;
    align-items: center;
    position: relative;
    padding: 15px 20px;
}

.options__menu .option i{
    margin-right: 20px;
}

.options__menu .option h4{
    text-align: center;
}

header nav a:hover{
    background-color:rgba(255, 255, 255, 0.178);
    border-radius: 8px;
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 21vw;
    height: 100%;
    background-image: linear-gradient(120deg, #406ebd 0%, #5995fd 100%);
    transition: transform .3s ease-out;  
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: #FFF;
    text-decoration: none;
    text-align: center;

}

.titulo{
    font-size: 50px;
    margin-bottom: 15px;
    text-shadow: 0px 0px 8px black;
}

.decoracion{
    text-shadow: 0px 0px 8px black;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}

/* Nuestro servicio */

.subtitulo{
  text-align: center;
  font-weight: 300;
  color: #aaa494;
  margin-bottom: 40px;
  font-size: 40px;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 40%;
}

.checklist-servicio{
    width: 45%;
}

.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color: #5995fd;
}

.number{
    display: inline-block;
    background-image: linear-gradient(120deg, #406ebd 0%, #5995fd 100%);
    width: 30px;
    height: 30px;
    color: #FFF;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

.gallery{
    background: #F2F2F2;
}

.video{
    background: #F2F2F2;
    width: 100%;
    height: 150%;
}

.contenedor-video{
    display: block;
    width: 45%;
    margin: 15px auto;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
}

.contenedor-galeria{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img-galeria{
   width: 30%;
   height: 200px;
   margin-bottom: 15px;
   border-radius: 10px;
   box-shadow: 0 0 6px rgba(0, 0, 0, .6);
   cursor: pointer;
}

.imagen-Light{
    position: fixed;
    background: rgba(0, 0, 0,.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

.agregar-imagen{
    width: 60%;
    max-height: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.experts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-expert img{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.n-expert{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}