@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?67o47o');
  src:  url('fonts/icomoon.eot?67o47o#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?67o47o') format('truetype'),
    url('fonts/icomoon.woff?67o47o') format('woff'),
    url('fonts/icomoon.svg?67o47o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-profile:before {
  content: "\e923";
}
.icon-file-picture:before {
  content: "\e927";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-compass:before {
  content: "\e949";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-key:before {
  content: "\e98d";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
}