*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: monospace;
}
header
{
    display: block;
    height: 120px;
    width: 100%;
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
body
{
    background-image: url(../img/adminbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.escudo
{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50%;
    height: 100px;
}

.menu a
{
    margin: .3em;
    margin-top: 30px;
    margin-left: 10px;
    padding: 1em;
    float: left;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #FFF;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}
.cuerpo
{
    justify-content: center;
    align-items: center;
    width: 60%;
    background: white;
    margin: 50px auto;
    display: block;
    padding: 2%;
    border-radius: 10px;
    overflow: hidden;
}
.cuerpo h1
{
    width: 100%;
    height: 40px;
    background: rgb(198, 122, 20);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.9em;
}
/* Reposo */
div
{
    margin-bottom: 5px;
    padding-top: 10px;
}
.text-nom,
input,
textarea
{
    font: 16px/16px verdana;
    padding: 0;
}
.lbl-nom
{
    display: block;
    width: 377px;
    height: 100%;
    border: 2px solid silver;
    padding: 8px 10px;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
    pointer-events: none;
    transition: all .25s ease-in-out;
}
.lbl-nom input,
.lbl-nom textarea
{
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    pointer-events: all;
}
.lbl-nom span
{
    color: silver;
    position: absolute;
    top: 8px;
    left: 10px;
    transition: all .25s ease-in-out;
}
/* Focus */
.lbl-nom.focus
{
    border-color: gold;
}
.lbl-nom span.focus
{
    color: gold;
}
/* Top */
.lbl-nom span.top
{
    left: 2px;
    top: -10px;
    font-size: 12px;
    background: white;
    padding: 0 5px;
}
.menu > a:hover
{
    background: white;
    color: #f6d365;
}
.menu .icon-profile
{
    margin-right: 5px;
}
#logo
{
    display: block;
    margin: auto;
}
.grid
{
    margin: 0 25% auto;
    align-items: center;
    justify-content: center;
}
.grid > div
{
    margin-bottom: 20px;
    margin-top: 20px;
}
.btn 
{
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-close a
{
    float: right;
    padding: 3px 6px;
    margin-top: 1%;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    fill: white;
    border-radius: 15%;
    transition: all 0.3s ease;
}
.btn-close a:hover
{
    color: #fda085;
    fill: #fda085;
    background: white;
}
.btn_anadir
{
    border: 1px solid gold;
    width: 70px;
    font-family: verdana;
    color: gold;
}
.btn_anadir:hover
{
    background-color: gold;
    color: white
}
textarea
{
    display: none;
}